*{
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar {
  font-size: 2rem;
  padding: 1em;
  background-color: blanchedalmond;
}

.navbar-logo {
  color : green;
  margin-right: 0.5rem;
}

.navbar-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: green;
  color: white;
  margin-left: 0.2em;
  border-radius: 50%;
}

.add-input {
  font-size: 2rem;
  margin-right: 0.2rem;
  outline: none;
  border : 2px solid rgb(92, 138, 24);
}

.add-button {
  height: 100%;
  display: inline-block;
  background-color: green;
  color : white;
  font-size: 2rem;
  padding: 0.1em 0.2em;
}



.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color:white;
  border-radius: 50%;
}

.habit-button{
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover{
  opacity: 0.6;
}

.habit-button.dec,
.habit-button.inc{
  color :goldenrod;
}

.habit-button.del {
  color: darkred;
}

.reset {
  font-size: 1.5em;
  padding: 0.2em;
  background-color: crimson;
  color : white;
  margin: 5px;
}

